<div class="container text-center mt-4 bg-white">
  <div class="row justify-content-center">
    
    <div class="row shadow">
  <div class="col">
    <div class="col mt-5 pt-5">
        <h2 class="text-center  fst-italic mb-4">Get to know us</h2>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae omnis perspiciatis blanditiis modi quod, excepturi earum error ratione consequuntur labore debitis distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sint veniam velit consequatur aut at veritatis ab delectus quas rem, esse 
      praesentium incidunt? Aliquam asperiores fugiat impedit fugit distinctio non. voluptatibus sapiente magni nemo aspernatur, rerum doloribus. Consequatur?

    </div>
  </div>
  <div class="col">
    <div class="col">
      <img src="https://www.odintgroup.com/assets/img/about.jpg" alt="Leadership" class="mx-auto d-block py-4" style="height: 530px;">
    </div>
  </div>
</div>
<div class="row shadow my-4">
    <div class="col-12 col-md-6 col-lg-3 my-4 ">
      <img src="https://cdn-icons-png.freepik.com/512/6234/6234914.png" alt="Leadership" class="fixed-size-img mx-auto d-block">
      <h4>LEADERSHIP</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae corrupti veritatis doloribus placeat quidem amet quisquam assumenda architecto explicabo impedit.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-4">
      <img src="https://cdn-icons-png.flaticon.com/512/942/942818.png" alt="Career" class="fixed-size-img mx-auto d-block">
      <h4>CAREER</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae corrupti veritatis doloribus placeat quidem amet quisquam assumenda architecto explicabo impedit.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-4">
      <img src="https://cdn-icons-png.flaticon.com/512/2612/2612945.png" alt="Partnerships" class="fixed-size-img mx-auto d-block">
      <h4>PARTNERSHIPS</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae corrupti veritatis doloribus placeat quidem amet quisquam assumenda architecto explicabo impedit.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-4">
      <img src="https://cdn-icons-png.flaticon.com/512/118/118062.png" alt="Press" class="fixed-size-img mx-auto d-block">
      <h4>PRESS</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae corrupti veritatis doloribus placeat quidem amet quisquam assumenda architecto explicabo impedit.</p>
    </div>
  </div>
  </div>
</div>
