<%= render 'shared/public_nav' %>
<div class="container py-5">
  <div class="row justify-content-md-center ">
    <div class="col-12 ">
<div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-indicators ">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner ">
    <div class="carousel-item carousel1 active " data-bs-interval="4000">
      <img src="https://images.unsplash.com/photo-1546387903-6d82d96ccca6?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block text-black ">
        <h3 class="display-3 my-5  ">Lorem Ipsum Dolor</h3>
        <p class="fs-4 ">It uses utility classes for typography and spacing to space content out within the larger container.</p>
                   <%= link_to "Signup!", new_user_path, class: "btn btn-success btn-lg my-5" %>
      </div>
    </div>
    <div class="carousel-item carousel1">
      <img src="https://images.unsplash.com/photo-1487700160041-babef9c3cb55?q=80&w=2052&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block text-black ">
        <h3 class="display-3 my-5  ">Lorem Ipsum Dolor</h3>
        <p class="fs-4 ">It uses utility classes for typography and spacing to space content out within the larger container.</p>
                   <%= link_to "Know More", pages_about_us_path, class: "btn btn-success btn-lg my-5" %>
      </div>
    </div>
    <div class="carousel-item carousel1 ">
      <img src="https://images.unsplash.com/photo-1578208691289-bcf8b6dd8ce0?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block text-black">
        <h3 class="display-3 my-5  ">Lorem Ipsum Dolor</h3>
        <p class="fs-4 ">It uses utility classes for typography and spacing to space content out within the larger container.</p>
                   <%= link_to "Contact Us", new_enquiry_path, class: "btn btn-success btn-lg my-5" %>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>