<footer id="sticky-footer" class="flex-shrink-0 py-4  text-secondary">
<div class="container text-center">
  <small>Copyright &copy; <%= link_to "Susmi","https://in.linkedin.com/in/susmi-elsa-joy-731197211",class:"text-secondary" %></small>
</div>
</footer>